#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond $1 !^(index\.php|assets|js|img|css|fonts|robots\.txt)
#RewriteRule ^(.*)$ index.php/$1 [L]
RewriteEngine on
RewriteCond $1 !^(index\.php|assets|js|img|css|fonts|robots\.txt|sitemap\.xml)
RewriteRule ^(.*)$ /aplicacion/index.php/$1 [L]